snippet h2
<h2>$1</h2>$0
endsnippet

snippet p
<p>
	$0
</p>
endsnippet

snippet tr
<tr>
	$0
</tr>
endsnippet

snippet td
<td>$1</td>$0
endsnippet

snippet =
<%= $1 %>$0
endsnippet

snippet each
<% $1.each do |$2| %>
  $0
<% end %>
endsnippet
