snippet log "Console Log"
console.log($1)$0
endsnippet

snippet for "For loop"
for (var i = 0; i < $1; i++) {
	$0
}
endsnippet

snippet var
var $1 = $0
endsnippet

snippet willUpdate "componentWillUpdate" b
componentWillUpdate(props, state) {
	$0
}
endsnippet

snippet didUpdate "componentDidUpdate" b
componentDidUpdate(props, state) {
	$0
}
endsnippet

snippet m
$1($2) {
	$0
}
endsnippet
